*.iml
.kotlin
.gradle
.idea
.DS_Store

# Android
**/build/
captures
.externalNativeBuild
.cxx
local.properties

# iOS
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/gen_snapshot_resources_semicolon
**/ios/Flutter/flutter_export_environment.sh

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Node.js / NestJS
node_modules/
dist/
npm-debug.log
yarn-error.log
coverage/

# Environment Variables
.env
.env.production
.env.development

# Next.js
.next/
out/
build/
.turbo/
